<app-header></app-header>

<div class="user-grid">
  <div class="search-container">
    <mat-form-field>
      <mat-icon matPrefix></mat-icon>
      <input matInput [(ngModel)]="searchText" (input)="search()" placeholder="Search here">
    </mat-form-field>
  </div>

  <mat-card class="user-card" *ngFor="let user of filteredUsers" (click)="editUser(user.id)">
    <mat-card-header>
      <div class="avatar-circle">
        <img [src]="user.avatar" alt="User Avatar">
        <span matTooltip="Click to edit" matTooltipPosition="above"> <!-- Add the tooltip here -->
          Click to edit
        </span>
      </div>
      <div class="name-container">
        <mat-card-title>{{ user.firstName }}</mat-card-title>
        <mat-card-title>{{ user.lastName }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <ul class="user-info">
        <li><strong>Email:</strong> {{ user.email }}</li>
        <li><strong>Street:</strong> {{ user.street }}</li>
        <li><strong>City:</strong> {{ user.city }}</li>
        <li><strong>Zip Code:</strong> {{ user.zipcode }}</li>
        <li><strong>Country:</strong> {{ user.country }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
